.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  text-transform: lowercase;
  font-size: 18px;
  color: #121212;
  pointer-events: all;
}

.link:before {
  content: '';
  position: absolute;
  top: 104%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #121212;
  pointer-events: none;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link:hover:before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}
