* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  font-weight: 500;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container > div {
  display: flex;
  gap: 80px;
}

@media only screen and (max-width: 420px) {
  .container > div {
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }
}

.switch-container {
  display: flex;
  gap: 48px;
}

.switch-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.switch-wrapper switch-material:first-child{
  order: 1;
}

.result {
  color: #c5c5c5;
  text-transform: uppercase;
  font-size: #6c6c6c;
  text-align: center;
  opacity: 0;
  transition: opacity 2.2s ease;
}

.result.is-visible {
  opacity: 1;
}

.result.is-active {
  color: #6c6c6c;
}