.btn-pax-css {
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-weight: 500;
  height: 112px;
  justify-content: center;
  position: relative;
  text-decoration: none;
  transition: 0.3s ease;
  width: 112px;
}
.btn-pax-css svg {
  overflow: visible;
  position: absolute;
}
.btn-pax-css svg path {
  transform-origin: center;
}
.btn-pax-css svg {
  -webkit-animation: infinite-rotation 30s linear infinite;
  animation: infinite-rotation 30s linear infinite;
  overflow: visible;
  position: absolute;
}
.btn-pax-css svg path {
  transform: scale(1);
}
.btn-pax-css:hover svg {
  -webkit-animation: infinite-rotation-fast 5s linear infinite;
  animation: infinite-rotation-fast 5s linear infinite;
}
.btn-pax-css:hover path {
  transform: scale(1.1);
  transform-origin: center;
  transition: 0.3s ease;
}
@-webkit-keyframes infinite-rotation {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes infinite-rotation {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes infinite-rotation-fast {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes infinite-rotation-fast {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
