.btn-wave {
  position: relative;
  display: inline-block;
  padding: 50px;
  border-radius: 50%;
  border: none;
  background-color: #f2f4f7;
  cursor: pointer;
}

.btn-wave .hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: center;
  transition: transform 0.2s cubic-bezier(0.51, 2, 0.8, 1);
  pointer-events: none;
}

.btn-wave:hover .hand {
  transform: translate(-50%, -50%) rotate(35deg);
  transition: transform 0.2s cubic-bezier(0.51, 2, 0.8, 1);
}
